.basket {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  @import "__scroll/__scroll.scss";
  @import "__order/__order.scss";
  @import "__total/__total.scss";
  @import "__delivery/__delivery.scss";
  @import "__form/__form.scss";
}
