.map {
  width: 276px;
  height: 170px;
  background: url("../images/map.png") no-repeat center;
  z-index: 5;

  &::before {
    content: "";
    height: 142px;
    width: 52px;
    background: url("../images/map-left.png")  no-repeat;
    position: absolute;
    top: 14px;
    left: 8px;
    z-index: 6;
  }

  &::after {
    content: "";
    height: 142px;
    width: 52px;
    background: url("../images/map-right.png")  no-repeat;
    position: absolute;
    top: 19px;
    right: 3px;
    z-index: 6;
  }

  @import "__img/__img.scss";
  @import "__pointer/__pointer.scss";
}
