.loading-page {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("../images/loading-page.jpg") center no-repeat;
  background-size: cover;

  @import "__logo/__logo.scss";
  @import "__caption/__caption.scss";
  @import "__progress-bar/__progress-bar.scss";
  @import "__progress-scroll/__progress-scroll.scss";
}
