&__img {
  width: 183px;
  height: 124px;
  background: url("../images/background.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
