&__circle {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .5);
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 25px auto 0;
}
