&__circle {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .6);
  background-size: cover;
  background-position: center center;
  margin: 25px auto 0;
}
